I.      Respect Everyone.
II.     Do not kill for no reason.
III.    No griefing.
IV.     No hacking/cheating.
V.      Teaming is allowed.
VI.     Basing is allowed, but far.
VII.    No authorized shopping. 
VIII.   Always participate in events.