body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:darkslateblue;
    text-align: center;
    align-content: center;
    align-items: center;
}
a
{
    text-decoration: none;
    color:darkolivegreen;
}
.offer
{
    color:gold;
}
div
{
    align-self: center;
    max-width:200px;
}
img
{
    align-content: flex-start;
    align-self: auto;
    width:29px;
    height:29px;
}
.bronzediv
{
    background-color:rgb(245, 204, 155);
    color:orange;
    border:rgba(216, 141, 1, 0.808) 5px solid;
    border-radius:10px;
}
.silverdiv
{
    background-color:rgb(221, 221, 221);
    color:black;
    border:silver 5px solid;
    border-radius:10px;
}
.golddiv
{
    background-color:gold;
    color:darkgoldenrod;
    border:rgb(99, 72, 3) 5px solid;
    border-radius:10px;
}
.diamonddiv
{
    background-color:aqua;
    color:cornflowerblue;
    border:rgb(3, 77, 77) 5px solid;
    border-radius:10px;
}
.special
{
    background-color:rgb(3, 214, 84);
    color:dodgerblue;
    border:darkgreen 5px solid;
    border-radius:10px;
}
button
{
    width:200px;
    height:30px;
}
.goback
{
    border-radius:10px;
    color:white;
    background-color:black;
    padding: 10px;
    border:black 5px solid;
}
button
{
    cursor:pointer;
    box-shadow: none;
    outline:none;
    border-radius:10px;
    background-color:black;
    color:white;
    width:200px;
    height:40px;
}
button:active {
    border-style: outset;
}
li
{
    font-size:20px;
    font-weight:600;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }